body {
  background-color: beige;
}
{box-sizing: border-box;}

.buttonLink {
  color: black;
  background-color: lightgray;
  font-family: monospace;
  text-align: center;
  border: none;
  font-size: 125%;
  width: 100%;
  /**padding: 10px;**/
  /**margin-top: 5px;**/
  /**display: block;**/
  /**background-color: gray;**/
}

button {
  width: 100%;
  background-color: lightgray;
  padding: 30px 5px;
  font-size: 200%;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  button {
    width: 100%;
    padding: 30px 5px;
    border: none;
    font-size: 150%;
    border-radius: 8px;
  }
  /**a:link {
    width: 100%;
    padding: 25px 5px;
    font-size: 125%;
    border-radius: 8px;
    border: none;
  }**/
  input[type=checkbox] {
    transform: scale(2);
  }
  .buttonLink {
    width: 100%;
    padding: 25px 5px;
    font-size: 200%;
    text-align: center;
    border-radius: 8px;
    border: none;
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  button {
    width: 100%;
    padding: 25px 5px;
    font-size: 125%;
    border-radius: 8px;
    border: none;
  }
  .buttonLink {
    width: 100%;
    padding: 25px 5px;
    font-size: 200%;
    text-align: center;
    border-radius: 8px;
    border: none;
    display: inline;
  }
  input[type=checkbox] {
    transform: scale(2);
    display: block;
  }
}
